<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Memorize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Memorize.Properties.Settings>
            <setting name="MainForm_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainForm_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MainForm_Width" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="MainForm_Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DictFilePath" serializeAs="String">
                <value>E:\WorkStudio\Memorize\words.dict</value>
            </setting>
            <setting name="ChoiceVariants" serializeAs="String">
                <value>6</value>
            </setting>
        </Memorize.Properties.Settings>
    </userSettings>
</configuration>